 <div class="container">
    <div class="row">
        <div class="col-md-12 py-md-5">
            <div class="shadow-sm">
                <div class="row">
                    <div class="card col-md-3 bg-img d-none d-md-block d-lg-block">
                        <div class="px-5 text-danger py-5 my-5">
                            
                        </div>
                    </div>

                    <div class="card col-md-9 py-5 px-md-5">
                        <div class="row" [@fadeIn]>
                            <div class="col-md-4 col-sm-4 text-right pb-3 pt-5 d-none d-md-block d-lg-block">
                                <!-- Personal Info --><br><br>
                                <div style="color: #515557;">
                                    <p>Barangay, Ipilan</p>
                                    <p>Tayabas City, Philippines</p>
                                </div>
                                <hr>
                                <!-- Personal Info -->
                                <div style="color: #515557;">
                                    <p><strong>Email: </strong> dapito.sherwin@yahoo.com</p>
                                    <p><strong>Phone: </strong>+639-19-294-2997</p>
                                </div>
                                <hr>

                                <div>
                                    <p><a href='#'>Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                                    <img src="/assets/images/Google-Maps-icon.png" width="100" />
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-8 pb-3">
                                <div class="text-center">
                                    <h5>Get in touch via contact form or email me directly</h5>
                                    <p>I will get back to you as soon as possible</p>

                                    <br>
                                </div>

                                <form>
                                    <fieldset>
                                        <div class="form-group">
                                          <div class="col-md-12">
                                            <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-md-12">
                                            <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <div class="col-md-12">
                                            <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
                                          </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                          <label for="message" class="col-md-12 control-label">Message:</label>
                                          <div class="col-md-12">
                                            <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
                                          </div>
                                        </div>

                                        <br>
                                        <div class="form-group">
                                          <div class="col-md-12 text-right">
                                            <button class="px-4 mr-1 btn btn-danger btn-sm text-gray-dark" type="reset" style="border-radius: 0px;">Reset</button>
                                            <button class="px-4 btn btn-dark btn-sm text-gray-dark" type="submit" style="border-radius: 0px;">Submit</button>
                                          </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>  

                    <div class="col-md-3 bg-img d-none d-sm-block d-block d-md-none d-lg-none">
                        <div class="px-5 text-danger py-5 my-5">
                            
                        </div>
                    </div>      
                </div>
            </div>
        </div>
    </div>
</div>

