

.social{
    color: whitesmoke !important;
    font-weight: 500px !important;

    &:hover{
        color: #ad1457 !important;
        font-weight: 500px !important;
    }
}

@keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(-15px);
  }
}

.bg-img {
    background: url(/assets/images/dev-2.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* &:before {
        content: "";
        position: absolute;
        left: 0; 
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(77,82,110,0.3);
        border-bottom-left-radius:30%;
        border-bottom-right-radius:80%;
    } */

    &:before {
        content: "";
        position: absolute;
        left: 0; 
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(54,56,66,0.8);
        border-bottom-left-radius:50%;
        border-bottom-right-radius:20%;
        animation: bounce 2s infinite alternate;
        -webkit-animation: bounce 2s infinite alternate;

        @media (max-width: 1111px){
            border-bottom-left-radius:0%;
            border-bottom-right-radius:0%;
            animation: none;
            -webkit-animation: none;
        }
    } 
}

.btn-dark, .btn-danger{
    &:hover{
        background-color: white;
        border: solid #ad1457 !important;
        color: #ad1457 !important;
        transform: scale(1.03) !important;
        transition: all .5s;
    }
}


p{
    font-size: 13px !important;
}

.mid{
    height: 600px;
}

.text-main{
    color: #a7ffeb  ;
}

.about{
    font-size: 15px !important;
}

.container-text {
    position: relative;
    text-align: center;
}

.h3-home{
    position: relative !important;
    color: white !important;
}

.container-fluid{
    scroll-behavior: smooth !important;
}

.card{
    background-color: rgba(0,0,0,0.2);
}


