
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-img px-md-5 shadow">
			<div class=" rounded">
				<div class="py-5 px-md-5 px-4 container-text">					
					<div class="px-md-5 mt-5" [@fadeIn]>
						<div class="text-center">
							<h2 class="text-light">Sherwin Dapito</h2>
							<h6 class="text-danger">Web Developer, Computer Engineer</h6>
						</div>
						
						<br><br><hr style="width: 50px;" class="text-white bg-white"><br><br>
						<p class="text-justify px-md-5 text-white mx-md-5"><span class="pl-5">A former software developer</span> at Taggs Enterprise Application Manager (TEAM) Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of OOP (C#.net) and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer using various software and web technology such as NodeJS, MongoDB, Express and Angular 4/5. Focused working on the backend.</p><br><br>

						<div class="social text-center text-danger pt-0">
							<a class="social px-2" href=""><i class="fa fa-facebook"></i></a>
							<a class="social px-2" href=""><i class="fa fa-twitter"></i></a>
							<a class="social px-2" href=""><i class="fa fa-google"></i></a>
							<a class="social px-2" href=""><i class="fa fa-instagram"></i></a>
						</div><br><br>

						<div class="text-center d-none d-md-block d-lg-block">
							<a routerLink="/contact-me" class="btn btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
							<a routerLink="/experiences" class="btn btn-dark px-5" style="border-radius: 0px;">Check Resume</a>
						</div>

						<div class="text-center d-none d-sm-block d-block d-md-none d-lg-none">
							<a routerLink="/contact-me" class="btn btn-block btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
							<a routerLink="/experiences" class="btn btn-block btn-dark px-5" style="border-radius: 0px;">Check Resume</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
