
<div class="container">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-md-5">
			<div class="shadow-sm">
				<div class="row">
					<div class="card col-md-3 bg-img d-none d-md-block d-lg-block">
						<div class="px-5 text-danger py-5 my-5">
							
						</div>
					</div>

					<div class="card col-md-9 py-5 px-md-5">
						<div class="text-right text-gray-dark pull-right" [@fadeIn]>
							<a routerLink="/experiences" class="more">MORE ABOUT ME<span class="pl-3 fa fa-arrow-right"></span></a>
						</div>
						
						<div class="px-md-5 mt-5" [@fadeIn]>
							<div class="text-center">
							
								<h2>Sherwin Dapito</h2>
								<h6 class="text-danger">Web Developer, Computer Engineer</h6>
							</div>
							
							<br><br><hr class="w-25"><br><br>
							<p class="text-justify"><span class="pl-5">A former software developer</span> at Taggs Enterprise Application Manager (TEAM) Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of OOP (C#.net) and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer using various software and web technology such as NodeJS, MongoDB, Express and Angular 4/5. Focused working on the backend.</p><br><br>

							<div class="social text-center text-danger pt-0">
								<a class="social px-2" href=""><i class="fa fa-facebook"></i></a>
								<a class="social px-2" href=""><i class="fa fa-twitter"></i></a>
								<a class="social px-2" href=""><i class="fa fa-google"></i></a>
								<a class="social px-2" href=""><i class="fa fa-instagram"></i></a>
							</div><br><br>

							<div class="text-center d-none d-md-block d-lg-block">
								<a routerLink="/contact-me" class="btn btn-sm btn-danger px-4" style="border-radius: 0px;">Hire me now</a>
								<button class="btn btn-sm btn-dark px-4" style="border-radius: 0px;">Download Resume</button>
							</div>
							
						</div>
					</div>

					<div class="col-md-3 bg-img d-none d-sm-block d-block d-md-none d-lg-none">
						<div class="px-5 text-danger py-5 my-5">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
