
<div class="container">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 px-5">
			<div class="card">
				<div class="row">
					<div class="col-md-3 bg-img">
						<div class="px-5 text-danger py-5 my-5">
							
						</div>
					</div>
					<div class="col-md-9 py-5 px-5" [@fadeIn]>
						<div class="pull-right text-gray-dark pull-right">
							<a routerLink="/contact-us" class="more">More About me<span class="pl-3 fa fa-arrow-right"></span></a>
						</div>
						
						<div class="px-5 my-5">
							<div class="text-center">
								<img src="/assets/images/profile-sarwin.png" class="img img-fluid rounded-circle profile-picture" alt="Sherwin Dapito"><br><br>
								<hr style="width: 50px;"><br>
								<h2 class="text-danger name">Sherwin Dapito</h2>
								<h6>Web Developer, Computer Engineer</h6>
							</div>
							
							<br><br><br>
							<p class="text-justify"><span class="pl-5">A former software developer</span> at Taggs Enterprise Application Manager (TEAM) Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of OOP (C#.net) and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer using various software such as NodeJS, MongoDB and Angular. Focused working on the backend.</p><br><br>

							<div class="social text-center text-danger pt-0">
								<a class="social px-2" href=""><i class="fa fa-facebook"></i></a>
								<a class="social px-2" href=""><i class="fa fa-twitter"></i></a>
								<a class="social px-2" href=""><i class="fa fa-google"></i></a>
								<a class="social px-2" href=""><i class="fa fa-instagram"></i></a>
							</div><br><br>

							<div class="text-center">
								<button class="btn btn-sm btn-danger px-4" style="border-radius: 0px;">Hire me now</button>
								<button class="btn btn-sm btn-dark px-4" style="border-radius: 0px;">Check my portfolio</button>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
