.nav-link{
	color: whitesmoke !important;
	font-size: 11px !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
	letter-spacing: 2px !important;
}

.nav-link:hover{
	color: red !important;
	border-bottom: solid 1px red;
}

.navbar-brand{
	color: whitesmoke !important;
}

.navbar{
	border-bottom: solid 1px red;
}

.social-min a{
	color: white !important;
	cursor: pointer;
	letter-spacing:  10px;
	padding-left: 10px;
}

.nav{
  text-align: center;
}

