.nav-link{
  color: whitesmoke !important;
  font-size: 12px !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-family: Verdana;
}

.navbar-brand{
  color: whitesmoke !important;
}

