<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
		<button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navCollapseContent" aria-controls="navCollapseContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  	</button>
	  	<a class="navbar-brand d-md-none d-lg-none d-none d-sm-block d-block" href="#"></a>

	  	<div class="navbar-collapse collapse"  id="navCollapseContent">
	  		<ul class="navbar-nav mx-auto">
	  			<li class="nav-item mx-2">
	  				<a class="nav-link" routerLink="/">Home</a> 
	  			</li>
	  			<li class="nav-item mx-2">
	  				<a class="nav-link" routerLink="/about">About</a> 
	  			</li>
	  			<li class="nav-item mx-2">
	  				<a class="nav-link" routerLink="/portfolio">Portfolio</a> 
	  			</li>
	  			<li class="nav-item mx-2">
	  				<a class="nav-link" routerLink="/contact-me">Contact Me</a> 
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block mx-2">
	  				<a class="nav-link">|</a> 
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href=""><i class="fa fa-facebook"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href=""><i class="fa fa-twitter"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href=""><i class="fa fa-google"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href=""><i class="fa fa-instagram"></i></a>
	  			</li>

	  			<li class="nav-item d-md-none d-lg-none d-none d-sm-block d-block">
	  				<hr>
	  				<a class="social-min" href=""><i class="fa fa-facebook"></i></a>
	  				<a class="social-min" href=""><i class="fa fa-twitter"></i></a>
	  				<a class="social-min" href=""><i class="fa fa-google"></i></a>
	  				<a class="social-min" href=""><i class="fa fa-instagram"></i></a>
	  			</li>
	  		</ul>
	  	</div>
</nav>