<nav class="navbar navbar-expand-lg navbar-dark bg-dark ml-auto" [ngClass]="fixed ? 'fixed-top': ''" (scroll)="onWindowScroll($event)" >
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navCollapseContent" aria-controls="navCollapseContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	    
	
	  	<a class="navbar-brand d-md-none d-lg-none d-none d-sm-block d-block" href="#"></a>

	  	<div class="navbar-collapse collapse"  id="navCollapseContent">
	  		<ul class="navbar-nav mx-auto">
	  			<li class="nav-item d-md-none d-lg-none d-none d-sm-block d-block social-min">
	  				<hr>
	  			</li>
	  			<li class="nav-item mx-2" data-toggle="collapse" data-target=".navbar-collapse.show">
	  				<a class="nav-link" routerLink="/">Home</a> 
	  			</li>
	  			<li class="nav-item mx-2" data-toggle="collapse" data-target=".navbar-collapse.show">
	  				<a class="nav-link" routerLink="/about">About</a> 
	  			</li>
	  			<li class="nav-item mx-2" data-toggle="collapse" data-target=".navbar-collapse.show">
	  				<a class="nav-link" routerLink="/portfolio">Portfolio</a> 
	  			</li>
	  			<li class="nav-item mx-2" data-toggle="collapse" data-target=".navbar-collapse.show">
	  				<a class="nav-link" routerLink="/skills">Skills</a> 
	  			</li>
	  			<li class="nav-item mx-2" data-toggle="collapse" data-target=".navbar-collapse.show">
	  				<a class="nav-link" routerLink="/contact-me">Contact Me</a> 
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block mx-2">
	  				<a class="nav-link">|</a> 
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/" target="_blank"><i class="fa fa-linkedin"></i></a>
	  			</li>
	  			<li class="nav-item d-none d-md-block d-lg-block">
	  				<a class="social nav-link" href=""><i class="fa fa-instagram"></i></a>
	  			</li>

	  			<li class="nav-item d-md-none d-lg-none d-none d-sm-block d-block social-min">
	  				<hr>
	  				<a href="https://www.facebook.com/sherwin.dapito" target="_blank"><i class="fa fa-facebook"></i></a>
	  				<a href="https://github.com/sarwin-github" target="_blank"><i class="fa fa-github"></i></a>
	  				<a href="https://www.linkedin.com/in/sherwin-dapito-20baa4126/" target="_blank"><i class="fa fa-linkedin"></i></a>
	  				<a href=""><i class="fa fa-instagram"></i></a>
	  			</li>
	  		</ul>
	  	</div>
</nav>

<div class="mt-5" [ngClass]="fixed ? 'd-block': 'd-none'"><br><br></div>
