#section-portfolio2{
    letter-spacing: 1px;
    line-height: 2.0;
    font-size: 14px;
}

.btn-primary{
  &:hover{
    background-color: white;
    border: solid #ad1457 !important;
    color: #ad1457 !important;
    transform: scale(1.03) !important;
    transition: all .5s;
  }
}

.card-hover-shadow{
  &:hover{
    transform: scale(1.05) !important;
    transition: all .5s;
    cursor: pointer;
    position: relative;
  }
}

.main-image{
    width:  300px;
    height: 250px;
    object-fit: cover !important;
    border: 2px solid #e2e2e2;
}

.mobile-image{
    width:  100%;
    height: 200px;
    object-fit: cover !important;
    border: 2px solid #e2e2e2;
}

.modal {
    display: none; /* Hidden by default */
    overflow-y: scroll !important;
    position: fixed; /* Stay in place front is invalid - may break your css so removed */  
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    z-index: 9999999; /* Sit on top - higher than any other z-index in your site*/
}

.modal-gallery-content, #caption { 
    animation-name: fadein;
    animation-duration: 0.6s;
}

@keyframes show fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
