

.social{
    color: gray !important;
    font-weight: 500px !important;
}

.social:hover{
    color: red !important;
    font-weight: 500px !important;
}

.bg-img {
    background: url(/assets/images/workspace.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-img:before {
    content: "";
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    bottom: 0;
    background: rgba(0,0,0,0.8);
}

p{
    font-size: 13px !important;
}

.mid{
    height: 600px;
}

.text-main{
    color: #a7ffeb  ;
}

.about{
    font-size: 15px !important;
}

.container-text {
    position: relative;
    text-align: center;
}

.h3-home{
    position: relative !important;
    color: white !important;
}

.container-fluid{
    scroll-behavior: smooth !important;
}

.card{
    background-color: rgba(255,255,255, 1);
    border-radius: 5px;
}
.card-hover-shadow:hover{
  transform: scale(1.03) !important;
  transition: all .5s;
  cursor: pointer;
  position: relative;
}

.card-hover-shadow:hover:before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 3px solid #d9534f;
    border-left: 3px solid #d9534f;
}
.card-hover-shadow:hover:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 3px solid #d9534f;
    border-right: 3px solid #d9534f;
}
