.more{
    font-size: 12px !important;
}

.social{
    color: gray !important;
    font-weight: 500px !important;

    &:hover{
        color: red !important;
        font-weight: 500px !important;
    }
}

.bg-img {
    background: url(/assets/images/workspace-3.jpg)no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        left: 0; 
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(0,0,0,0.4);
    }
}

.btn-dark, .btn-danger{
    &:hover{
        background-color: white;
        border: solid #ad1457 !important;
        color: #ad1457 !important;
        transform: scale(1.03) !important;
        transition: all .5s;
    }
}

p{
    font-size: 13px !important;
}

.card{
    background-color: rgba(255,255,255, 1);
    border-radius: 5px;
}

.card-hover-shadow{
    &:hover{
      transform: scale(1.03) !important;
      transition: all .5s;
      cursor: pointer;
      position: relative;
    }

    &:hover:before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0px;
        left: 0px;
        border-top: 3px solid #d9534f;
        border-left: 3px solid #d9534f;
    }

    &:hover:after {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0px;
        right: 0px;
        border-top: 3px solid #d9534f;
        border-right: 3px solid #d9534f;
    }
}
