
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-img px-md-5 shadow">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card shadow" [@fadeIn]>
						<div class="row">
							<div class="col-md-12 text-center pb-5">
								<h3>Web technology and Frameworks</h3>
								<h6 class="text-danger pb-2">Web Technology, Frameworks and Languages I Used for web development</h6>
							</div>

							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/node.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Node JS</h5>
								<p class="px-3"><span class="text-uppercase">N</span>ode is a  serverside development environment that I used for <span class="text-uppercase">B</span>ack-end development. It also uses JavaScript on the server</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/express.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Express</h5>
								<p class="px-3"><span class="text-uppercase">I</span>s a web application server <span class="text-uppercase">I</span> used for creating my API routes, handling response and requests and for setting up the web server that will run in Node</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/mongo.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">MongoDB/Mongoose</h5>
								<p class="px-3"><span class="text-uppercase">M</span>ongoDB is a <span class="text-uppercase">N</span>o-<span class="text-uppercase">SQL</span> Database while <span class="text-uppercase">I</span> used <span class="text-uppercase">M</span>ongoose for model abstraction, data manipulation and validation</p>
							</div>


							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/jquery.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">JQuery</h5>
								<p class="px-3">Is a JavaScript library I used for DOM manipulation. Sometimes I used Embedded Javascript (EJS) as my templating engine combined with JQuery</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/angular.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Angular 4/5</h5>
								<p class="px-3">Is a client side development framework. It uses TypeScript and with my background with C#.net I was able to understand and used this properly</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/bootstrap.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Bootstrap 3/4</h5>
								<p class="px-3">Is a frontend framework I use to create responsive and amazing design for my web site and web applications</p>
							</div>

							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/amazon.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Amazon Web Services</h5>
								<p class="px-3">I use Amazon Web Services for deploying my application in the web. I mostly use AWS EC2 to deploy my MEAN app including Classic Elastic Load Balancer, Route 53, Elastic IP address and AWS Certificate Manager for SSL Certificates</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-4">
								<div>
									<img src="/assets/images/heroku.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Heroku</h5>
								<p class="px-3">I also use Heroku for deploying my website and web application in the web. It's easier to use than Amazon Web Services since it's a Platform as a Service, PaaS</p>
							</div>

							<div class="col-md-12"><hr></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




