
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-img px-lg-5 shadow">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-md-12 py-5 px-lg-5 card shadow">
						<div class="row">
							<div class="col-md-12 text-center pb-5">
								<h3>Web technology and Frameworks</h3>
								<h6 class="text-danger pb-2">Web Technology, Frameworks and Languages I Used for web development</h6>
							</div>

							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/node.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Node JS</h5>
								<p class="px-3"><span class="text-uppercase">N</span>ode is a Serverside Development Environment that I used for <span class="text-uppercase">B</span>ack-end and for creating Web Server. It uses JavaScript on the server</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/angular.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Angular 2+</h5>
								<p class="px-3">A TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. I mainly use Angular for creating Single Page Application</p>
							</div>


							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/git.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">GIT</h5>
								<p class="px-3">A distributed version-control system I use for tracking changes in source code during web development. I mostly deploy my code in Bitbucket and GitHub</p>
							</div>

							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/mongo.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">MongoDB/Mongoose</h5>
								<p class="px-3"><span class="text-uppercase">M</span>ongoDB is a <span class="text-uppercase">N</span>o-<span class="text-uppercase">SQL</span> Database. I also <span class="text-uppercase">I</span> use <span class="text-uppercase">M</span>ongoose for model abstraction, data manipulation and validation</p>
							</div>
							

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/express.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Express</h5>
								<p class="px-3"><span class="text-uppercase">I</span>s a web application framework <span class="text-uppercase">I</span> used for creating my Web API routes/endpoints, handling response and requests through RESTful Web Services and for setting up the web server that will run in Node</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/jquery.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">JQuery</h5>
								<p class="px-3">Is a JavaScript library I used for easy DOM manipulation. Sometimes I used Embedded Javascript (EJS) as my templating engine combined with JQuery</p>
							</div>

							<div class="col-md-12"><hr></div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/bootstrap.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Bootstrap 3/4</h5>
								<p class="px-3">Is a frontend framework/library I used to create responsive and interactive website and web applications</p>
							</div>


							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/amazon.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Amazon Web Services</h5>
								<p class="px-3">I used Amazon Web Services for deploying the MEAN stack I developed to the web. I mainly use Amazon Elastic Compute Cloud (AWS EC2).</p>
							</div>

							<div class="col-md-4 py-4 card-hover-shadow text-center px-lg-4" [@animate]="{value:'*', params:{ y:'-100px', delay:'600ms' }}">
								<div>
									<img src="/assets/images/heroku.png" class="img img-fluid w-50">
								</div><br>
								<h5 class="text-danger pb-2">Heroku</h5>
								<p class="px-3">I also use Heroku for deploying the website I developed to the web. It's easier to use than Amazon Web Services since it's a Platform as a Service, PaaS.</p>
							</div>

							<div class="col-md-12"><hr></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




