
<div class="container">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-md-5">
			<div class="">
				<div class="row shadow rounded">
					<!-- BANNER -->
					<div class="col-md-12 bg-img card d-none d-md-block d-lg-block">
						<div class="text-danger py-5 my-5">
						</div>
					</div>

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card" [@fadeIn]>
						<div class="row">
							<div class="col-md-12 text-center pb-5">
								<h3>Projects and Website</h3>
								<h6 class="text-danger">List of Projects and Website I created, starting from January 2017</h6>
							</div>

							<!-- PHOTOGRAPHY WEBSITE -->
							<div class="col-md-12 text-center py-20"><hr>
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
							    		<img src="/assets/images/photography2.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/photography2.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-4">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Photography Website</h5><br>
							            <p class="card-title">A sample photography blog website created using Node JS, Embedded JavaScript (EJS), Bootstrap 4 and JQuery. This photography website showcases the skill and portfolio of the photographer.
							            <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://zaspix.herokuapp.com" target="_blank">https://zaspix.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- FITNESS MARKET APP -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/fitness-market.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/fitness-market.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-1">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Fitness Market App</h5><br>
							            <p class="card-title">A fitness market web application created using Node JS, Express, MongoDB, Embedded JavaScript (EJS), Bootstrap 4, Wordpress API, Session Based authentication using passport, and JQuery. Fitness market app offer services such as promoting fitness center and fitness professional or trainer including classes booking and fitness centers membership.
							            <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://entrenami.herokuapp.com" target="_blank">https://entrenami.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- DENTISTRY WEBSITE -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/dentistry.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/dentistry.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-2">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Dentistry Website App with Booking Calendar</h5><br>
							            <p class="card-title">A sample dentistry website app with booking calendar using FullCalendar api, Jquery, Node JS, MongoDB, Bootstrap 4 and Embedded JavaScript (EJS). This dentistry website app is a sample booking app using full calendar (authentication hasn't been implemented yet for testing).
							            <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://dentistry-app.herokuapp.com" target="_blank">https://dentistry-app.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- RESUME WEBSITE -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/resume.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/resume.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-4">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Resume Website</h5><br>
							            <p class="card-title">A sample resume website created using Node JS, Embedded JavaScript (EJS), Bootstrap 3 and JQuery.
							            <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://sar-resume.herokuapp.com" target="_blank">https://sar-resume.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- RESTAURANT APP -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/restaurant.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/restaurant.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-4">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Restaurant App Landing Page</h5><br>
							            <p class="card-title">A sample restaurant app landing page using Node JS, Embedded JavaScript (EJS), Bootstrap 3 and JQuery.
							            <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://kamayan-sa-palaisdaan.herokuapp.com/" target="_blank">https://kamayan-sa-palaisdaan.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- COMPANY WEBSITE -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/company.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/company.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-4">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Company Website</h5><br>
							            <p class="card-title">A sample professional company website created using Node JS, Embedded JavaScript (EJS), Bootstrap 4 and JQuery. <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://company-web-solutions.herokuapp.com" target="_blank">https://company-web-solutions.herokuapp.com</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>

							<!-- COMPANY WEBSITE -->
							<div class="col-md-12 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							    	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
							    		<img src="/assets/images/chat-app.jpg" class="img img-fluid more" style="width: 100%; border: 2px solid #e2e2e2;">
							    	</div>
							        <div class="media card-block">
							          <img src="/assets/images/chat-app.jpg" class="img img-fluid m-2 more d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
							          <div class="media-body text-left pl-3 pt-md-2">
							            <h5 class="card-title text-danger more" style="margin-top: 20px; margin-bottom: 0;">Public Chat Application</h5><br>
							            <p class="card-title">A sample chat application created using Node JS, Embedded JavaScript (EJS), Socket.IO, MongoDB, Bootstrap 3 and JQuery. <br><br> <span class="text-danger">Check Link: </span> 
							            <a href="https://public-chat-app.herokuapp.com/" target="_blank">https://public-chat-app.herokuapp.com/</a></p>
							            <br><br>
							          </div>
							        </div>
							    </div><hr>
							</div>
							

						</div>
					</div>

					<div class="col-md-12 bg-img card d-none d-sm-block d-block d-md-none d-lg-none">
						<div class="px-5 text-danger py-5 my-5">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
