
<div class="container">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-md-5">
			<div class="">
				<div class="row shadow-sm">
					<!-- BANNER -->
					<div class="col-md-12 bg-img card d-none d-md-block d-lg-block">
						<div class="px-5 text-danger py-5 my-5">
						</div>
					</div>

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card" [@fadeIn]>
						<div class="row">
							<div class="col-md-12 text-center pb-5">
								<h4 class="text-danger">Projects and Website</h4>
								<h5>List of Projects and Website I created from January 2017</h5>
							</div>

							<div class="col-md-6 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							        <div class="card-block">
							            <img src="/assets/images/company.jpg" class="img img-fluid m-2 more" style="width: 90%; border: 2px solid #e2e2e2;">
							            <h5 class="card-title px-3 text-danger more" style="margin-top: 20px; margin-bottom: 0;">Company Website</h5><br>
							            <p class="card-title px-5">A sample professional company website created using Node JS, EJS, Bootstrap 4 and JQuery. <br><br> Check link: 
							            <a href="https://company-web-solutions.herokuapp.com" target="_blank">https://company-web-solutions.herokuapp.com</a>
							            </p>
							            <br><br>
							        </div>
							    </div>
							</div>

							<div class="col-md-6 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							        <div class="card-block">
							            <img src="/assets/images/photography2.jpg" class="img img-fluid m-2 more" style="width: 90%; border: 2px solid #e2e2e2;">
							            <h5 class="card-title px-3 text-danger more" style="margin-top: 20px; margin-bottom: 0;">Photography Website</h5><br>
							            <p class="card-title px-5">A sample photography blog website created using Node JS, EJS, Bootstrap 4 and JQuery.
							            <br><br> Check link: 
							            <a href="https://zaspix.herokuapp.com" target="_blank">https://zaspix.herokuapp.com</a></p>
							            <br><br>
							        </div>
							    </div>
							</div>

							<div class="col-md-12 pb-5"><hr></div>

							<div class="col-md-6 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							        <div class="card-block">
							            <img src="/assets/images/fitness-market.jpg" class="img img-fluid m-2 more" style="width: 90%; border: 2px solid #e2e2e2;">
							            <h5 class="card-title px-3 text-danger more" style="margin-top: 20px; margin-bottom: 0;">Fitness Market App</h5><br>
							            <p class="card-title px-5">A fitness market web application created using Node JS, Express, MongoDB, EJS, Bootstrap 4, and JQuery.
							            <br><br> Check link: 
							            <a href="https://entrenami.herokuapp.com" target="_blank">https://entrenami.herokuapp.com</a></p>
							            <br><br>
							        </div>
							    </div>
							</div>

							<div class="col-md-6 text-center py-20">
							    <div class="card-hover-shadow" style="background-color: rgba(255, 255,255, 0);">
							        <div class="card-block">
							            <img src="/assets/images/resume.jpg" class="img img-fluid m-2 more" style="width: 90%; border: 2px solid #e2e2e2;">
							            <h5 class="card-title px-3 text-danger more" style="margin-top: 20px; margin-bottom: 0;">Resume Website</h5><br>
							            <p class="card-title px-5">A sample resume website created using Node JS, EJS, Bootstrap 3 and JQuery.
							            <br><br> Check link: 
							            <a href="https://sar-resume.herokuapp.com" target="_blank">https://sar-resume.herokuapp.com</a></p>
							            <br><br>
							        </div>
							    </div>
							</div>
						</div>
					</div>

					<div class="col-md-12 bg-img card d-none d-sm-block d-block d-md-none d-lg-none">
						<div class="px-5 text-danger py-5 my-5">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
