
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-img px-md-5 shadow">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card title-experience" [@fadeIn]>
						<div class="row">
							<div class="col-md-5">
								<div class="pr-4">
								    <div class="media text-muted">
								      	<img class="mr-3" src="/assets/images/profile-sarwin.png" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-md-4" style="font-size: 14px !important;">
								      		<br>
								        	<h6 class="text-dark">Sherwin A. Dapito</h6>
								    		<p class="text-muted">JavaScript | MEAN Stack Developer</p>	
								      	</div>
								    </div>
								    <hr>
								    <dl class="text-muted">
								    	<dd>Quezon Province, Philippines</dd>
								    	<dd>Availability: UTC+8 (Monday to Friday)</dd>

								    	<hr>
								    	<dd><strong>Skype:</strong> 
								    		<a href="#" class="pull-right">dapito.sherwin@gmail.com</a>
								    	</dd>
								    	<dd><strong>Github:</strong> 
								    		<a href="https://github.com/sarwin-github" class="pull-right" target="_blank">github.com/sarwin-github</a>
								    	</dd>
										<dd><strong>Contact Mail:</strong>
											<a href="#" class="pull-right"> dapito.sherwin@yahoo.com</a>
										</dd>
										<hr>
										

										<dd><h6>Technical Skills:</h6>
										<ul>
											<li>API Integration (Google Maps API, Stripe API, WordPress API)</li>
											<li>Creating CRUD operations to connect the Frontend to Backend via RxJS, REST and other Http protocols</li>
											<li>ES5/ES6, JavaScript and Node</li>
											<li>NPM, GitHub, Bitbucket, Trello</li>
											<li>Angular 9/10: TypeScript, HTML5, SASS, Bootstrap and JSON</li>
											<li>Maintaining and creating readable codes using MVC/MVVW
											design pattern</li>
											<li>Transforming design mockups/wireframes into functional web
											applications</li>
											<li>Creating proper database schema using Mongoose for MongoDB</li>
											<li>Deployment of Node and Angular</li>
										</ul>

										<hr>
										
										<h6>Hobbies & Interests</h6>
										<ul>
											<li>MUSIC: Progressive, Hardcore, Alternative, Classic</li>
											<li>Arts: Modern and Classic Arts</li>
											<li>Reading:Latest Technological Advancement</li>
										</ul>
										

										<hr>

								    </dl>
								</div>
							</div>

							<div class="col-md-7 right px-4">
								<div class="text-gray-dark text-right d-none d-md-block d-lg-block">
									<a routerLink="/portfolio" class="more">PORTFOLIO<span class="pl-3 fa fa-arrow-right"></span></a>
								</div>
								<div class="d-none d-sm-block d-block d-md-none d-lg-none"><br><br></div>
								<div>
									<hr><h6 class="mb-2 text-dark">BS Computer Engineering</h6><hr>
									<img class="d-none d-lg-none d-md-none d-block d-sm-block" src="/assets/images/slsu_logo.png" alt="SLSU logo" style="width:60%;">
								    <div class="media">
								      	<img class="mr-3 d-none d-sm-none d-md-block d-lg-block" src="/assets/images/slsu_logo.png" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-3 text-muted" style="font-size: 13px !important;">
								        	Bachelor of Science in Computer Engineering graduate at <a href="http://slsu.edu.ph" target="_blank">Southern Luzon State University </a>, Lucban, Quezon, Philippines. <br> College of Engineering.	
								      	</div>
								    </div>

								    <hr><h6>Project and Experiences</h6><hr>

								    <dl>
								    	<dd class="dd-2 text-dark">
								    		<strong style="font-size: 13px !important;">Frontend Engineer | Angular Developer</strong>
								    		<i> | March 2020 - June 2021</i>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> Angular 8, Bootstrap 4, RxJS, DomoPhoenix API (Similar to Chart.JS), Angular Materials, Web Animation, SCSS, API Integration, Gitlab, Trello.
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    		- Responsible for transforming a complex wireframe to a fully
								    		functioning frontend MVP of an Asset Management Web Application. It allows a company or users to create a Scenario Financial Planning (top-down and bottom-up planning) for retail subcategory and retail stores.
								    	</dd>

								    	<hr>

								    	<dd class="dd-2 text-dark">
								    		<strong class="pr-1" style="font-size: 13px !important;">FullStack JavaScript Developer</strong><i> | October 2019 - April 2020</i>
								    	</dd>

								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> Node, Express, Angular 9, Angular Materials, MongoDB/Mongoose, GitHub, Selenium for Automation testing for of multiple dynamic forms.
								    	</dd>

										<dd class="dd-2 text-muted">
											- Responsible for implementing the database schema design,
											middleware, and controllers for backend and transforming the layout design or mockup to a fully functioning web application. Also, in charge of adding new functionality and fixing bugs while in production. The app was created using the MEAN stack.
										</dd>

								    	<hr>

								    	<dd class="dd-2 text-dark">
								    		<strong class="pr-1" style="font-size: 13px !important;">Angular Developer</strong><i> | September 2018 - March 2019</i>
								    	</dd>

								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> Angular 6/7, Angular Egret Theme, Angular Materials, Handsontable.js, Primeng, BitBucket, Trello.
								    	</dd>

										<dd class="dd-2 text-muted">
											- Responsible for implementing the Minerva Dashboard design. It is a frontend MVP of a data-mining app created using Angular 6/7 that uses 3rd party UI components such as Primeng (some modules were customized) and Angular Themes.
										</dd>
								    </dl>
								</div>
							</div>


							<div class="text-center col-md-12 py-3"><br><hr><br><br>
								<div class="text-center d-none d-md-block d-lg-block">
									<a routerLink="/contact-me" class="btn btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
									<a routerLink="/skills" class="btn btn-dark px-5" style="border-radius: 0px;">Web Technology and Skills</a>
								</div>

								<div class="text-center d-none d-sm-block d-block d-md-none d-lg-none">
									<a routerLink="/contact-me" class="btn btn-block btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
									<a routerLink="/skills" class="btn btn-block btn-dark px-5" style="border-radius: 0px;">Web Technology and Skills</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>



