
<div class="container-fluid ">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5 bg-img px-md-5 shadow">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-md-12 py-5 px-md-5 card" [@fadeIn]>
						<div class="row">
							<div class="col-md-5">
								<div class="pr-4">
								    <div class="media">
								      	<img class="mr-3" src="/assets/images/profile-sarwin.png" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-md-4" style="font-size: 14px !important;">
								      		<br>
								        	<h6 class="text-muted">Sherwin Ablaña Dapito</h6>
								    		<p class="text-muted">Web Developer, Computer Engineer</p>	
								      	</div>
								    </div>
								    <hr>
								    <dl>
								    	<dd>Barangay Ipilan</dd>
								    	<dd>Tayabas City, Philippines</dd>
								    	<dd>February 8, 1993</dd>
								    	<dd>+63919-294-2997</dd><hr>
								    	<dd><strong>Skype:</strong> 
								    		<a href="#" class="pull-right">dapito.sherwin@gmail.com</a>
								    	</dd>
								    	<dd><strong>Github:</strong> 
								    		<a href="#" class="pull-right">//github.com/sarwin-github</a>
								    	</dd>
										<dd><strong>Contact Mail:</strong>
											<a href="#" class="pull-right"> dapito.sherwin@yahoo.com</a>
										</dd>
										<hr>
										<dd><h6>Hobbies & Interests</h6></dd>
										<dd>MUSIC: Progressive, Hardcore, Alternative, Classic</dd>
										<dd>Arts: Modern and Classic Arts</dd>
										<dd>Reading:Latest Technological Advancement</dd>
								    </dl>
								</div>
							</div>

							<div class="col-md-7 right px-4">
								<div class="text-gray-dark text-right d-none d-md-block d-lg-block">
									<a routerLink="/skills" class="more">SKILLS<span class="pl-3 fa fa-arrow-right"></span></a>
								</div>
								<div class="d-none d-sm-block d-block d-md-none d-lg-none"><br><br></div>
								<div>
									<h6 class="mb-2 mt-md-4 pt-md-5 text-dark">BS Computer Engineering</h6><hr>
									<img class="d-none d-lg-none d-md-none d-block d-sm-block" src="/assets/images/slsu_logo.png" alt="SLSU logo" style="width:60%;">
								    <div class="media">
								      	<img class="mr-3 d-none d-sm-none d-md-block d-lg-block" src="/assets/images/slsu_logo.png" alt="SLSU logo" style="width:90px;">
								      	<div class="media-body pt-3" style="font-size: 13px !important;">
								        	Bachelor of Science in Computer Engineering graduate at <a href="http://slsu.edu.ph" target="_blank">Southern Luzon State University </a>, Lucban, Quezon, Philippines. <br> College of Engineering.	
								      	</div>
								    </div>

								    <br><br><br>

								    <h6>Experiences</h6><hr>
								    <dl>
								    	<dd class="dd-2 text-dark">
								    		<strong>Web Developer (current)</strong>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> NodeJS, JavaScript, MongoDB, Express.
								    	</dd>
								    	<dd class="dd-2 text-muted"><strong>Frontend:</strong> Angular or EJS (Embedded JavaScript templating engine)</dd>

								    	<hr>

								    	<dd class="dd-2 text-dark">
								    		<strong class="pr-1">Software Developer for Mobile and Desktop Applications</strong><i> | January 2016 - August 2016</i>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> IIS, ASP.Net(Server Side), MSSQL/MySQL(Database), C#.Net Visual WebGui (Third Party Plugin).
								    	</dd>

								    	<hr>

								    	<dd class="dd-2 text-dark">
								    		<strong class="pr-1">Mobile Web Application Developer</strong><i> | July 2015 - October 2015</i>
								    	</dd>
								    	<dd class="dd-2 text-muted">
								    	<strong>Web Technology:</strong> IIS, MSSQL/MySQL(Database), Alpha Anywhere (For Front End and Backend).
								    	</dd>
								    </dl>
								</div>
							</div>


							<div class="text-center col-md-12 py-3"><br><hr><br><br>
								<div class="text-center d-none d-md-block d-lg-block">
									<a routerLink="/contact-me" class="btn btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
									<a routerLink="/skills" class="btn btn-dark px-5" style="border-radius: 0px;">Web Technology and Skills</a>
								</div>

								<div class="text-center d-none d-sm-block d-block d-md-none d-lg-none">
									<a routerLink="/contact-me" class="btn btn-block btn-danger px-5 mr-3" style="border-radius: 0px;">Hire me now</a>
									<a routerLink="/skills" class="btn btn-block btn-dark px-5" style="border-radius: 0px;">Web Technology and Skills</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>



