<div class="px-md-5 text-center my-5 py-md-5" id="section-skills">
	<h1 class="text-white" [@fadeInFrom]="state">Skills</h1>
	<h5 class="text-main" [@fadeInFrom]="state">Skills and Technology used for Web Development</h5>

	<div class="row">
		<div class="col-lg-5 text-center py-2 d-none d-sm-none d-md-none d-lg-block"><hr>
			<div class="card py-5 px-5 shadow" >
				<h5 class="text-danger" [@fadeInFrom]="state">Languages and Databases</h5>

				<p-chart type="polarArea" [data]="data" [options]="options" [@fadeInFrom]="state"></p-chart>
			</div>
		</div>

		<div class="col-md-12 col-lg-7 text-center py-20"><hr>
			<div class="card py-5 px-md-4 px-3 shadow" >
				<h5 class="text-danger" [@fadeInFrom]="state">Web Technology and Framework</h5>

				<div class="row">
					<div class="col-md-4 pt-3">
						<div class="text-center">
							<img src="/assets/images/database.png" class="img-circle img-fluid" alt="Web Technology" width="120"> 
						</div>
						<br>
						<div class="progress mt-2">
							<div class="progress-bar bg-success" value="86%" style="width: 86%"  [@scrollAnimation]="state"> NodeJS</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-info"  value="90%" style="width: 90%"  [@scrollAnimation]="state"> HTML</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-danger" value="85%" style="width: 85%"  [@scrollAnimation]="state"> Bootstrap</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-warning" value="87%" style="width: 87%"  [@scrollAnimation]="state"> Mongoose/MongoDB</div>
						</div><br> <hr>
					</div>

					<div class="col-md-4 pt-3">
						<div class="text-center">
							<img src="/assets/images/framework.png" class="img-circle  img-fluid" alt="Web Technology" width="120"> 
						</div>
						<br>

						<div class="progress mt-2">
							<div class="progress-bar bg-success" value="83%" style="width: 83%"  [@scrollAnimation]="state"> Amazon Web Services</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-info" value="87%" style="width: 87%"  [@scrollAnimation]="state"> Express</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-danger" value="80%" style="width: 80%"  [@scrollAnimation]="state"> Heroku</div>
						</div><br> <hr>
					</div>

					<div class="col-md-4 pt-3">
						<div class="text-center">
							<img src="/assets/images/webtech.png" class="img-circle  img-fluid" alt="Web Technology" width="120"> 
						</div>
						<br>

						<div class="progress mt-2">
							<div class="progress-bar bg-success" value="85%" style="width: 85%"  [@scrollAnimation]="state"> JQuery</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-info" value="80%" style="width: 80%"  [@scrollAnimation]="state"> Angular 4/5</div>
						</div>

						<div class="progress mt-2">
							<div class="progress-bar bg-danger" style="width: 90%"  [@scrollAnimation]="state"> Other (FullCalendar, NodeMailer, etc)</div>
						</div><br> <hr>
					</div>
				</div>
			</div>
			<br><br>
		</div>

		<div class="col-md-12"><hr class="d-none d-sm-none d-md-block d-lg-block">
			<div class="text-center col-md-12">
				<div class="d-none d-md-block d-lg-block">
					<a class="btn btn-sm btn-primary px-5 py-3" routerLink="/skills" style="border-radius: 0px;">Skill Details and usage</a>
				</div>

				<div class="d-none d-sm-block d-block d-md-none d-lg-none">
					<a class="btn btn-sm btn-block btn-primary px-4 py-3" routerLink="/skills" style="border-radius: 0px;">Skill Details and usage</a>
				</div>
			</div>
		</div>
	</div>
</div>
