/* You can add global styles to this file, and also import other style files
body{
	background-color: whitesmoke;
	position: relative;
}

a{
	color: red;
}

* {
    font-family: Ubuntu;
  }
 */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray !important;
  font-size: 13px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: gray !important;
  font-size: 13px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: gray !important;
  font-size: 13px !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: gray !important;
  font-size: 13px !important;
}

