<div class="px-md-5 text-center my-5" >
	<p class="about"><span class="pl-5">A former software developer</span> at Taggs Enterprise Application Manager (TEAM) Global. I was part of the team that developed web application and desktop application for almost two years (1 year and 8 months). I have a working knowledge of OOP (C#.net) and knowledge about the concepts of software design architecture such as MVC and MVVM. Currently working as a freelance web developer using various software and web technology such as NodeJS, MongoDB, Express and Angular 4/5. Focused working on the backend.</p><br><br>

	<div class="d-none d-md-block d-lg-block">
		<a class="btn btn-sm btn-danger px-5 py-3 mr-2" routerLink="/experiences" style="border-radius: 0px;">Resume</a>
		<a class="btn btn-sm btn-primary px-5 py-3" href="#home-portfolio" style="border-radius: 0px;">Portfolio</a>
	</div>

	<div class="d-none d-sm-block d-block d-md-none d-lg-none">
		<a class="btn btn-sm btn-block btn-danger px-4 py-3" routerLink="/experiences" style="border-radius: 0px;">Resume</a><br>
		<a class="btn btn-sm btn-block btn-primary px-4 py-3" href="#home-portfolio" style="border-radius: 0px;">Portfolio</a>
	</div>
</div>