.about{
	font-size: 13px;
	letter-spacing: 3px;
	line-height: 2.0;
}

.btn-primary:hover{
	background-color: white;
	border: solid #ad1457 !important;
    color: #ad1457 !important;
    transform: scale(1.03) !important;
    transition: all .5s;
}


.btn-danger:hover{
    background-color: white;
	border: solid #ad1457 !important;
    color: #ad1457 !important;
    transform: scale(1.03) !important;
    transition: all .5s;
}