
<div class="container">
	<div class="row">
		<!--The content below is only a placeholder and can be replaced.-->
		<div class="col-md-12 py-5">
			<div class="card">
				<div class="row">
					
					<div class="col-md-6 py-5 px-5">
						<div class="px-5 text-center my-5" [@fadeIn]>
							<h2 class="text-danger name">Sherwin Dapito</h2>
							<h6>Web Developer, Computer Engineer</h6><br>
							<hr class="w-25"><br><br>
							<p class="px-5">An Enthusiastic Web Developer With a Passion for Learning. A coder and a musician who want to learn more, grow and explore the world.</p><br>

							<div class="social text-center text-danger pt-0">
								<a class="social px-2" href=""><i class="fa fa-facebook"></i></a>
								<a class="social px-2" href=""><i class="fa fa-twitter"></i></a>
								<a class="social px-2" href=""><i class="fa fa-google"></i></a>
								<a class="social px-2" href=""><i class="fa fa-instagram"></i></a>
							</div><br><br><br>
							<button class="btn btn-sm btn-dark px-4" style="border-radius: 0px;">Check my resume</button>
						</div>
					</div>
					<div class="col-md-6 bg-img">
						<div class="px-5 text-danger py-5 my-5">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
