<footer class="py-5 bg-white">
	<div class="container">
		<div class="row gap-y">
			<div class="col-12 col-md-12 col-lg-6">
				<h6 class="heading-alt text-uppercase fs-14 mb-16 pl-0">
					Logo Here
				</h6>
				<p class="fs-13">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<br>
				<p class="text-light">Copyright © 2017 Company Web Solutions.</p>
			</div>

			<div class="col-12 col-md-4 col-lg-2 pl-30">
				<h6 class="heading-alt text-uppercase fs-14 mb-3">ABOUT</h6>
				<div class="nav flex-column">
					<!-- <a class="nav-link" href="#">Sobre nosotros</a> -->
					<a class="nav-link" href="#" target="_blank">About Us</a>
					<a class="nav-link" href="#" target="_blank">Privacy Policy</a>
					<a class="nav-link" href="#">Terms And Conditions</a>
					<a class="nav-link" href="#">Contact Us</a>
				</div>
			</div>

			<div class="col-12 col-md-4 col-lg-3 p-0">
				<h6 class="heading-alt text-uppercase fs-14 mb-3 text-center">SOCIALS</h6>
				<hr>

				<div class="social text-center pt-0">
					<a class="social-facebook" href=""><i class="fa fa-facebook"></i></a>
					<a class="social-twitter" href=""><i class="fa fa-twitter"></i></a>
					<a class="social-google" href=""><i class="fa fa-google"></i></a>
					<a class="social-instagram" href=""><i class="fa fa-instagram"></i></a>
				</div>
				<br>
			</div>

		</div>
	</div>
</footer>