<div class="col-md-12 py-5 px-md-5" id="section-contact">
    <div class="row" [@fadeIn]>
        <div class="col-md-4 col-sm-4 text-right pb-3 pt-5 d-none d-md-block d-lg-block">
            <!-- Personal Info --><br><br><br>
            <div style="color: whitesmoke;">
                <p>Barangay, Ipilan</p>
                <p>Tayabas City, Philippines</p>
            </div>
            <hr>
            <!-- Personal Info -->
            <div style="color: whitesmoke;">
                <p><strong>Email: </strong> dapito.sherwin@yahoo.com</p>
                <p><strong>Phone: </strong>+639-19-294-2997</p>
            </div>
            <hr>

            <div>
                <p><a href='#'>Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                <img src="/assets/images/Google-Maps-icon.png" width="100" />
            </div>
        </div>

        <div class="col-md-8 col-sm-8 pb-3">
            <div class="text-center text-danger">
                <h5 class="text-white">Get in touch via contact form or email me directly</h5>
                <p class="text-main">I will get back to you as soon as possible</p>

                <br>
            </div>

            <form [formGroup]="contactForm">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                      <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" formControlName="subject" [ngClass]="!contactForm.controls['subject'].valid && contactForm.controls['subject'].touched ? 'invalidInput' : ''" required>

                      <!-- VALIDATION MESSAGE -->
                      <label class="invalidLabel text-invalid fs-10 text-right mt-2" *ngIf="!contactForm.controls['subject'].valid && contactForm.controls['subject'].touched">Subject is required.</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                      <input type="text" class="form-control" id="name" name='name' placeholder="From" formControlName="name" [ngClass]="!contactForm.controls['name'].valid && contactForm.controls['name'].touched ? 'invalidInput' : ''" required>

                      <!-- VALIDATION MESSAGE -->
                      <label class="invalidLabel text-invalid fs-10 text-right mt-2" *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">Your full name is required.</label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                      <input type="text" class="form-control" id="email" name='email' placeholder="Email" formControlName="email" [ngClass]="!contactForm.controls['email'].valid && contactForm.controls['email'].touched ? 'invalidInput' : ''" required>

                      <!-- VALIDATION MESSAGE -->
                      <label class="invalidLabel text-invalid fs-10 text-right mt-2" *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">Invalid email format. Your valid email is required.</label>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label for="message" class="col-md-12 control-label text-white">Message:</label>
                  <div class="col-md-12">
                      <textarea class="form-control" rows="3" id="message" name='message' formControlName="message" [ngClass]="!contactForm.controls['message'].valid && contactForm.controls['message'].touched ? 'invalidInput' : ''" required></textarea>

                      <!-- VALIDATION MESSAGE -->
                      <label class="invalidLabel text-invalid fs-10 text-right mt-2" *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">Your message is required.</label>
                  </div>
                </div>

                <br>
                <div class="form-group">
                  <div class="col-md-12 text-center d-none d-md-block d-lg-block d-sm-none">
                    <button class="px-5 mr-3 btn btn-danger text-gray-dark py-2" type="reset" style="border-radius: 0px;">Reset</button>
                    <button class="px-5 btn btn-dark text-gray-dark py-2" type="submit" style="border-radius: 0px;">Submit</button>
                  </div>

                  <div class="col-md-12 text-center d-block d-sm-block d-md-none d-lg-none">
                    <button class="px-5 mr-1 btn btn-danger text-gray-dark py-3 btn-block" type="reset" style="border-radius: 0px;">Reset</button><br>
                    <button class="px-5 btn btn-dark text-gray-dark py-3 btn-block" type="submit" style="border-radius: 0px;">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>  